.header {
  display: flex;
  justify-content: space-between;

  background-color: #a649c9;
  font-family: "Amatic SC", sans-serif;
  font-family: "Fira Sans", sans-serif;
  color: #fccc02;
}
.icone {
  width: 60px;
  height: 60px;
}
