<div>
  <app-header></app-header>
  <div class="banner">
    <mat-card class="card">
      <img src="/assets/icone-pets.png" class="icone" />
      <mat-card-header>
        <mat-card-title
          >Projeto feito com amor para comunidade, protetores de animais e
          Ongs</mat-card-title
        >
        <mat-card-subtitle>Contribua, adote, divulgue</mat-card-subtitle>
        <mat-card-subtitle
          >Tem um animalzinho para adoção? Entre em contato
          adocao@miaudote.com.br que iremos divulgar!</mat-card-subtitle
        >
        <img src="/assets/gatinho-icone.png" class="icone" />
      </mat-card-header>
    </mat-card>
  </div>

  <div class="cards">
    <div *ngFor="let pet of petsList">
      <app-card [pet]="pet"></app-card>
    </div>
  </div>
</div>
